{{#extend "css"}}
<link href="/tools/jQuery-contextMenu/dist/jquery.contextMenu.min.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" type="text/css" href="/tools/bootstrap-fileinput/css/fileinput.min.css" />
<link rel="stylesheet" href="/tools/bootstrap-fileinput/css/fileinput.min.css">
{{/extend}}
<div class="page-header border-bottom-0">
    <div class="page-header-content header-elements-md-inline">
        <div class="page-title d-flex">
            <h4><i class="fad fa-list-alt"></i> <span class="font-weight-semibold">ACTIVIDADES SAFETY SCHOOL</span>
            </h4>
            <a href="#" class="header-elements-toggle text-default d-md-none"><i class="icon-more"></i></a>
        </div>
    </div>
</div>
<div class="content pt-0">
    <div class="card">
        <div class="card-body card-body-theme">
            <h5 class="card-title card-title-theme">Listado Actividades Safety School</h5>
        </div>

        <table id="crud-datatable" class="table table-condensed table-hover table-striped">
            <thead>
                <tr>
                    <th class="study_date">ACTIVIDAD</th>
                    <th class="study_date">DESCRIPCIÓN</th>
                    <th class="study_date">ÙLTIMO MOVIMIENTO</th>
                    <th class="study_date">VALIDADO</th>
                    <th class="study_date">MOVIMIENTOS</th>
                </tr>
            </thead>
        </table>
    </div>
</div>
<div id="modal-datatable-documents" class="modal center">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"><strong>MOVIMIENTOS</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div>
                    <div class="d-flex justify-content-end">
                        <button id="btnActivate" type="button" class="btn bg-green-600" style="display: none;">
                            VALIDAR <i class="fas fa-check"></i>
                        </button>
                        <button id="btnDeactivate" type="button" class="btn bg-pink-600 border-left-1"
                            style="display: none;">
                            INVALIDAR <i class="fas fa-times"></i>
                        </button>
                    </div>
                </div>
                <table id="crud-datatable-document" class="table table-condensed table-hover table-striped">
                    <thead>
                        <tr>
                            <th class="study_date">TIPO</th>
                            <th class="study_date">REFERENCIA</th>
                            <th class="study_date">ÚLTIMO MOVIMIENTO</th>
                            <th class="study_date">DOCUMENTO VALIDADO</th>
                            <th class="study_date">OPERACIONES</th>
                        </tr>
                    </thead>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                <button id="btnCreate" type="button" class="btn btn-success">Nuevo</button>
            </div>
        </div>
    </div>
</div>
<div id="modal-crud" class="modal">
    <div class="modal-dialog">
        <div class="modal-content modal-xl">
            <div class="modal-header">
                <h5 class="modal-title">FORMULARIO</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="crud-form">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                            <div class="form-group">
                                <label for="typesDocuments">TIPO DE DOCUMENTO</label>
                                <select name="typesDocuments" id="typesDocuments" class="form-control select2"
                                    title="Seleccione Tipo de Documento" required> </select>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                            <div class="form-group">
                                <label for="date">FECHA DE CREACIÓN</label>
                                <input type="date" name="date" id="date" class="form-control" autocomplete="off"
                                    placeholder="Ingrese Fecha" required>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-12">
                            <div class="form-group">
                                <label for="reference">REFERENCIA</label>
                                <textarea name="reference" id="reference" class="form-control" autocomplete="off"
                                    placeholder="Ingrese Referencia" required></textarea>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                <button id="btnSave" type="button" class="btn btn-success">Guardar</button>
                <button id="btnUpdate" type="button" class="btn bg-warning">Editar</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modal-upload" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header bg-dark text-white d-flex justify-content-between">
                <h5 class="modal-title">Subida de Archivos</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card card-upload-module">
                                <div class="card-body">
                                    <ul class="nav nav-tabs nav-tabs-top">
                                        <li class="nav-item">
                                            <a id="nav-upload-documents" href="#upload-document-tab1"
                                                class="nav-link active" data-toggle="tab">Subir Documentos</a>
                                        </li>
                                        <li class="nav-item">
                                            <a id="nav-view-documents" href="#view-document-tab2" class="nav-link"
                                                data-toggle="tab">Ver Documentos<span id="countDocuments-module"
                                                    class="badge bg-slate ml-2">0</span></a>
                                        </li>
                                    </ul>

                                    <div class="tab-content">
                                        <div class="tab-pane fade show active" id="upload-document-tab1">
                                            <input id="upload-files-input" name="upload-files-input[]" type="file"
                                                multiple width="100%">
                                        </div>

                                        <div class="tab-pane fade" id="view-document-tab2">
                                            <input id="view-files-input" type="file" multiple width="100%">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button id="btnCloseUploadModule" type="button"
                    class="btn btn-outline bg-pink-700 text-pink-700 border-pink" data-dismiss="modal">CERRAR
                </button>
                <button id="btnSaveUploadModule" type="button"
                    class="btn btn-outline bg-teal-400 text-teal-400 border-teal">SUBIR <i
                        class="fas fa-upload"></i></button>
            </div>
        </div>
    </div>
</div>
{{#extend "js"}}
<script src="/tools/bootstrap-fileinput/js/plugins/piexif.min.js" type="text/javascript"></script>
<script src="/tools/bootstrap-fileinput/js/plugins/sortable.min.js" type="text/javascript"></script>
<script src="/tools/bootstrap-fileinput/js/plugins/purify.min.js" type="text/javascript"></script>
<script src="/tools/popper.js/dist/umd/popper.min.js" type="text/javascript"></script>
<script src="/tools/bootstrap-fileinput/js/fileinput.js" type="text/javascript"></script>
<script src="/tools/bootstrap-fileinput/themes/fas/theme.min.js" type="text/javascript"></script>
<script src="/tools/bootstrap-fileinput/js/locales/es.js" type="text/javascript"></script>

<script type="text/javascript" src="/tools/parsleyjs/dist/parsley.min.js"></script>
<script type="text/javascript" src="/tools/parsleyjs/dist/i18n/es.js"></script>
<script type="text/javascript" src="/public/base/js/plugins/tables/datatables/datatables.min.js"></script>
<script type="text/javascript" src="/public/base/js/plugins/forms/selects/select2.min.js"></script>
<script type="text/javascript"
    src="/public/base/js/plugins/tables/datatables/extensions/pdfmake/vfs_fonts.min.js"></script>
<script type="text/javascript" src="/public/base/js/plugins/tables/datatables/extensions/select.min.js"></script>
<script type="text/javascript" src="/public/base/js/plugins/tables/datatables/extensions/buttons.min.js"></script>
<script type="text/javascript" src="/public/global/js/datetime-moment.js"></script>
<script type="text/javascript" src="/tools/uniform/jquery.uniform.min.js "></script>
<script type="text/javascript" src="/tools/pnotify/dist/pnotify.js "></script>
<script type="text/javascript" src="/tools/select2/dist/js/select2.min.js "></script>
<script type="text/javascript" src="/public/assets/js/plugins/forms/styling/switch.min.js "></script>
<script type="text/javascript" src="/tools/bootstrap-multiselect/dist/js/bootstrap-multiselect.js "></script>
<script type="text/javascript" src="/public/global/js/extend_datatables.js"></script>
<script type="text/javascript" src="/public/base/js/plugins/tables/datatables/extensions/fixed_columns.min.js"></script>
<script type="text/javascript" src="/public/global/js/jquery-rut/jquery.rut.min.js"></script>
<script>
    let datatable;
    let datatableDocument;
</script>
<script type="text/javascript" src="/public/app/activitiesSafetySchool/js/controller.js"></script>
<script type="text/javascript" src="/public/app/activitiesSafetySchool/js/controllerMovement.js"></script>
<script type="text/javascript" src="/public/app/activitiesSafetySchool/js/datatables.js"></script>
<script type="text/javascript" src="/public/app/activitiesSafetySchool/js/main.js"></script>
<script type="text/javascript" src="/public/app/activitiesSafetySchool/js/mainMovements.js"></script>
{{/extend}}