{{#extend "css"}}
<link href="/tools/jQuery-contextMenu/dist/jquery.contextMenu.min.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" type="text/css" href="/tools/bootstrap-fileinput/css/fileinput.min.css" />
<link rel="stylesheet" href="/tools/bootstrap-fileinput/css/fileinput.min.css">

<style>
    .card-upload-module {
        border: 0 !important;
    }

    .swal2-container {
        z-index: 9999;
    }
</style>
{{/extend}}
<div class="page-header border-bottom-0">
    <div class="page-header-content header-elements-md-inline">
        <div class="page-title d-flex">
            <h4><i class="fad fa-user"></i> <span class="font-weight-semibold">Contratistas</span>
            </h4>
            <a href="#" class="header-elements-toggle text-default d-md-none"><i class="icon-more"></i></a>
        </div>

        <div class="header-elements mb-3 mb-md-0">
            <div class="d-flex justify-content-center">
                <button id="btnCreatePeople" type="button" class="btn btn-success d-inline-block border-left-1">
                    NUEVO <i class="fad fa-plus-circle fa-lg fa-fw"></i>
                </button>
                <button id="btnEditPeople" type="button" class="btn btn-warning d-inline-block border-left-1" disabled>
                    EDITAR <i class="fad fa-edit fa-lg fa-fw"></i>
                </button>
                <button id="btnDeletePeople" type="button" class="btn bg-pink-400 d-inline-block border-left-1"
                    disabled>
                    ELIMINAR <i class="fad fa-trash fa-lg fa-fw"></i>
                </button>
            </div>
        </div>
    </div>
</div>
<div class="content pt-0">
    <div class="card">
        <div class="card-body card-body-theme">
            <h5 class="card-title card-title-theme">Listado de Contratistas</h5>
        </div>

        <table id="crud-datatable" class="table table-condensed table-hover table-striped">
            <thead>
                <tr>
                    <th class="dni">EMPRESA</th>
                    <th class="dni">RUT EMPRESA</th>
                    <th class="name">NOMBRE TRABAJADOR</th>
                    <th class="dni">RUT TRABAJADOR</th>
                    <th class="dni">CARGO</th>
                    <th class="phone">TELÉFONO</th>
                    <th class="email">EMAIL</th>
                    <th class="last">ULTIMO MOVIMIENTO</th>
                    <th class="validate">VALIDADO</th>
                    <th class="files text-center">MOVIMIENTOS</th>
                </tr>
            </thead>
        </table>
    </div>
</div>

<div id="modal-crud-people" class="modal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">FORMULARIO DE CONTRATISTA</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="crud-form-people">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                            <div class="form-group">
                                <label for="empresa">NOMBRE EMPRESA</label>
                                <input type="text" name="empresa" id="empresa" class="form-control"
                                    placeholder="Ingrese Empresa" required>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                            <div class="form-group">
                                <label for="rut_empresa">RUT EMPRESA</label>
                                <input type="text" name="rut_empresa" id="rut_empresa" class="form-control"
                                    placeholder="Ingrese Rut" data-parsley-rut required>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                            <div class="form-group">
                                <label for="name">NOMBRE TRABAJADOR</label>
                                <input type="text" name="name" id="name" class="form-control"
                                    placeholder="Ingrese Nombre" required>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                            <div class="form-group">
                                <label for="dni">RUT TRABAJADOR</label>
                                <input type="text" name="dni" id="dni" class="form-control" placeholder="Ingrese Rut"
                                    data-parsley-rut required>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                            <div class="form-group">
                                <label for="cargo">CARGO</label>
                                <input type="text" name="cargo" id="cargo" class="form-control"
                                    placeholder="Ingrese Cargo" required>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                            <div class="form-group">
                                <label for="phone">TELÉFONO</label>
                                <input type="text" name="phone" id="phone" class="form-control" placeholder="987654321"
                                    data-parsley-pattern="^[\d\+\-\.\(\)\/\s]*$" data-parsley-minlength="9"
                                    data-parsley-maxlength="9" required>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                            <div class="form-group">
                                <label for="email">EMAIL</label>
                                <input type="email" name="email" id="email" class="form-control"
                                    placeholder="example@domain.com" data-parsley-trigger="blur" required>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                <button id="btnSavePeople" type="button" class="btn btn-primary">Guardar</button>
                <button id="btnUpdatePeople" type="button" class="btn bg-warning d-none">Editar</button>
            </div>
        </div>
    </div>
</div>

<div id="modal-datatable-documents" class="modal center">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"><strong>PUNTO DE CONTROL: </strong> {{title}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div>
                    <div class="d-flex justify-content-end">
                        <button id="btnActivate" type="button" class="btn bg-green-600" style="display: none;">
                            VALIDAR <i class="fas fa-check"></i>
                        </button>
                        <button id="btnDeactivate" type="button" class="btn bg-pink-600 border-left-1"
                            style="display: none;">
                            INVALIDAR <i class="fas fa-times"></i>
                        </button>
                    </div>
                </div>
                <table id="crud-datatable-document" class="table table-condensed table-hover table-striped">
                    <thead>
                        <tr>
                            <th class="study_date">TIPO</th>
                            <th class="study_date">REFERENCIA</th>
                            <th class="study_date">ÚLTIMO MOVIMIENTO</th>
                            <th class="study_date">DOCUMENTO VALIDADO</th>
                            <th class="study_date">OPERACIONES</th>
                        </tr>
                    </thead>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                <button id="btnCreate" type="button" class="btn btn-success">Nuevo</button>
            </div>
        </div>
    </div>
</div>
<div id="modal-crud" class="modal">
    <div class="modal-dialog">
        <div class="modal-content modal-xl">
            <div class="modal-header">
                <h5 class="modal-title">FORMULARIO</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="crud-form">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                            <div class="form-group">
                                <label for="typesDocuments">TIPO DE DOCUMENTO</label>
                                <select name="typesDocuments" id="typesDocuments" class="form-control select2"
                                    title="Seleccione Tipo de Documento" required> </select>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                            <div class="form-group">
                                <label for="date">FECHA DE CREACIÓN</label>
                                <input type="date" name="date" id="date" class="form-control" autocomplete="off"
                                    placeholder="Ingrese Fecha" required>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-12">
                            <div class="form-group">
                                <label for="reference">REFERENCIA</label>
                                <textarea name="reference" id="reference" class="form-control" autocomplete="off"
                                    placeholder="Ingrese Referencia" required></textarea>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                <button id="btnSave" type="button" class="btn btn-success">Guardar</button>
                <button id="btnUpdate" type="button" class="btn bg-warning">Editar</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modal-upload" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header bg-dark text-white d-flex justify-content-between">
                <h5 class="modal-title">Subida de Archivos</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card card-upload-module">
                                <div class="card-body">
                                    <ul class="nav nav-tabs nav-tabs-top">
                                        <li class="nav-item">
                                            <a id="nav-upload-documents" href="#upload-document-tab1"
                                                class="nav-link active" data-toggle="tab">Subir Documentos</a>
                                        </li>
                                        <li class="nav-item">
                                            <a id="nav-view-documents" href="#view-document-tab2" class="nav-link"
                                                data-toggle="tab">Ver Documentos<span id="countDocuments-module"
                                                    class="badge bg-slate ml-2">0</span></a>
                                        </li>
                                    </ul>

                                    <div class="tab-content">
                                        <div class="tab-pane fade show active" id="upload-document-tab1">
                                            <input id="upload-files-input" name="upload-files-input[]" type="file"
                                                multiple width="100%">
                                        </div>

                                        <div class="tab-pane fade" id="view-document-tab2">
                                            <input id="view-files-input" type="file" multiple width="100%">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button id="btnCloseUploadModule" type="button"
                    class="btn btn-outline bg-pink-700 text-pink-700 border-pink" data-dismiss="modal">CERRAR
                </button>
                <button id="btnSaveUploadModule" type="button"
                    class="btn btn-outline bg-teal-400 text-teal-400 border-teal">SUBIR <i
                        class="fas fa-upload"></i></button>
            </div>
        </div>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="modal-upload" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header bg-dark text-white d-flex justify-content-between">
                <h5 class="modal-title">Subida de Archivos</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card card-upload-module">
                                <div class="card-body">
                                    <ul class="nav nav-tabs nav-tabs-top">
                                        <li class="nav-item">
                                            <a id="nav-upload-documents" href="#upload-document-tab1"
                                                class="nav-link active" data-toggle="tab">Subir Documentos</a>
                                        </li>
                                        <li class="nav-item">
                                            <a id="nav-view-documents" href="#view-document-tab2" class="nav-link"
                                                data-toggle="tab">Ver Documentos<span id="countDocuments-module"
                                                    class="badge bg-slate ml-2">0</span></a>
                                        </li>
                                    </ul>

                                    <div class="tab-content">
                                        <div class="tab-pane fade show active" id="upload-document-tab1">
                                            <input id="upload-files-input" name="upload-files-input[]" type="file"
                                                multiple width="100%">
                                        </div>

                                        <div class="tab-pane fade" id="view-document-tab2">
                                            <input id="view-files-input" type="file" multiple width="100%">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button id="btnCloseUploadModule" type="button"
                    class="btn btn-outline bg-pink-700 text-pink-700 border-pink" data-dismiss="modal">CERRAR
                </button>
                <button id="btnSaveUploadModule" type="button"
                    class="btn btn-outline bg-teal-400 text-teal-400 border-teal">SUBIR <i
                        class="fas fa-upload"></i></button>
            </div>
        </div>
    </div>
</div>



{{#extend "js"}}
<script src="/tools/bootstrap-fileinput/js/plugins/piexif.min.js" type="text/javascript"></script>
<script src="/tools/bootstrap-fileinput/js/plugins/sortable.min.js" type="text/javascript"></script>
<script src="/tools/bootstrap-fileinput/js/plugins/purify.min.js" type="text/javascript"></script>
<script src="/tools/popper.js/dist/umd/popper.min.js" type="text/javascript"></script>
<script src="/tools/bootstrap-fileinput/js/fileinput.min.js" type="text/javascript"></script>
<script src="/tools/bootstrap-fileinput/themes/fas/theme.min.js" type="text/javascript"></script>
<script src="/tools/bootstrap-fileinput/js/locales/es.js" type="text/javascript"></script>

<script type="text/javascript" src="/tools/parsleyjs/dist/parsley.min.js"></script>
<script type="text/javascript" src="/tools/parsleyjs/dist/i18n/es.js"></script>
<script type="text/javascript" src="/public/base/js/plugins/tables/datatables/datatables.min.js"></script>
<script type="text/javascript" src="/public/base/js/plugins/forms/selects/select2.min.js"></script>
<script type="text/javascript"
    src="/public/base/js/plugins/tables/datatables/extensions/pdfmake/vfs_fonts.min.js"></script>
<script type="text/javascript" src="/public/base/js/plugins/tables/datatables/extensions/select.min.js"></script>
<script type="text/javascript" src="/public/base/js/plugins/tables/datatables/extensions/buttons.min.js"></script>
<script type="text/javascript" src="/public/global/js/datetime-moment.js"></script>
<script type="text/javascript" src="/tools/uniform/jquery.uniform.min.js "></script>
<script type="text/javascript" src="/tools/pnotify/dist/pnotify.js "></script>
<script type="text/javascript" src="/tools/select2/dist/js/select2.min.js "></script>
<script type="text/javascript" src="/public/assets/js/plugins/forms/styling/switch.min.js "></script>
<script type="text/javascript" src="/tools/bootstrap-multiselect/dist/js/bootstrap-multiselect.js "></script>
<script type="text/javascript" src="/public/global/js/extend_datatables.js"></script>
<script type="text/javascript" src="/public/global/js/jquery-rut/jquery.rut.min.js"></script>

<script>let datatable;</script>
<script type="text/javascript" src="/public/app/contractors/js/controller.js"></script>
<script type="text/javascript" src="/public/app/contractors/js/controllerMovement.js"></script>
<script type="text/javascript" src="/public/app/contractors/js/datatables.js"></script>
<script type="text/javascript" src="/public/app/contractors/js/main.js"></script>
<script type="text/javascript" src="/public/app/contractors/js/mainMovements.js"></script>
{{/extend}}