{{#extend "css"}}
<link rel="stylesheet" href="/public/app/login/css/style.css">
<style>
    .corfo {
        width: 30rem !important;
    }

    @media screen and (max-width: 400px) {
        .corfo {
            width: 20rem !important;
        }
    }
</style>
{{/extend}}

<div class="accountbg"></div>

<div class="account-pages mt-5 pt-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8 col-lg-6 col-xl-5">
                <div class="card">
                    <div class="card-body">
                        <div class="text-center mt-4">
                            <div class="mb-3">
                                <a><img src="/public/global/images/logo.png" style="height: 6rem;" alt="logo"></a>
                            </div>
                        </div>
                        <div class="p-3">
                            <h4 class="font-size-18 mt-2 text-center">Bienvenido a Safety School</h4>
                            <p class="text-muted text-center mb-4">Selecciona una institución.</p>

                            <form class="form-horizontal" action="/institutionSelection" method="POST">

                                <div class="form-group">
                                    <label for="institutionSelection">Usuario</label>
                                    {{!-- agregar select --}}
                                    <select class="form-control" id="institutionSelection" name="institutionSelection">
                                        <option value="1">Institución 1</option>
                                        <option value="2">Institución 2</option>
                                        <option value="3">Institución 3</option>
                                    </select>
                                    
                                    <input type="text" class="form-control" id="institutionSelection"
                                        name="institutionSelection" placeholder="Ingresa Usuario"
                                        onblur="$(this).val($(this).val().toUpperCase() || '')">
                                </div>

                                <div class="form-group">
                                    <label for="password">Contraseña</label>
                                    <input type="password" class="form-control" id="password" name="password"
                                        placeholder="Ingresa Contraseña">
                                </div>

                                <div class="form-group row mt-4">
                                    <div class="offset-md-6 col-sm-6 text-right">
                                        <button class="btn bg-indigo w-md waves-effect waves-light"
                                            type="submit">Iniciar Sesión</button>
                                    </div>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>
                <div class="mt-5 text-center">
                    <p class="text-white">2021 - Desarrollado por <i class="mdi mdi-heart text-danger"></i> <a
                            href="https://codesud.cl" target="_BLANK" class="text-default"
                            rel="noopener noreferrer">Codesud Chile</a></p>
                    <img src="/public/app/login/images/corfo.png" class="corfo img-responsive" alt="corfo">
                </div>
            </div>
        </div>
    </div>
</div>