{{#extend "css"}}
<link rel="stylesheet" type="text/css" href="/public/global/assets/sweetalert2/dist/sweetalert2.min.css" />
<link rel="stylesheet" href="/public/app/login/css/style.css">
<style>
    .corfo {
        width: 30rem !important;
    }

    @media screen and (max-width: 400px) {
        .corfo {
            width: 20rem !important;
        }
    }
</style>
{{/extend}}

<div class="accountbg"></div>
<div class="account-pages mt-5 pt-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8 col-lg-6 col-xl-5">
                <div class="card">
                    <div class="card-body">
                        <div class="text-center mt-4">
                            <div class="mb-3">
                                <a><img src="/public/global/images/logo.png" style="height: 6rem;" alt="logo"></a>
                            </div>
                        </div>
                        <div class="p-3">
                            <h4 class="font-size-18 mt-2 text-center">Crea Tu Nueva Contraseña</h4>
                            <p class="text-muted text-center mb-4">Ingresa tu nueva contraseña para continuar.</p>
                            <form id="crud-form" class="form-password-module">
                                <div class="form-group">
                                    <label for="login">Contraseña</label>
                                    <input type="password" class="form-control" id="password" name="password"
                                        placeholder="Ingresa Contraseña" autocomplete="false" required>
                                </div>
                                <div class="form-group">
                                    <label for="login">Repita Contraseña</label>
                                    <input type="password" class="form-control" id="password2" name="password2"
                                        placeholder="Ingresa Contraseña" autocomplete="false" required>
                                </div>
                            </form>
                            <div class="form-group row mt-4">
                                <div class="offset-md-6 col-sm-6 text-right">
                                    <button id="btnSave" type="button"
                                        class="btn bg-indigo w-md waves-effect waves-light">Crear Nueva
                                        Contraseña</button>
                                    <button id="btnLogin" type="button"
                                        class="btn bg-indigo w-md waves-effect waves-light" style="display: none;">Ir al
                                        Login</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mt-5 text-center">
                    <p class="text-white">2021 - Desarrollado por <i class="mdi mdi-heart text-danger"></i> <a
                            href="https://codesud.cl" target="_BLANK" class="text-default"
                            rel="noopener noreferrer">Codesud Chile</a></p>
                    <img src="/public/app/login/images/corfo.png" class="corfo img-responsive" alt="corfo">
                </div>
            </div>
        </div>
    </div>
</div>
{{#extend "js"}}
<script type="text/javascript" src="/public/global/assets/sweetalert2/dist/sweetalert2.all.min.js"></script>
<script type="text/javascript" src="/tools/parsleyjs/dist/parsley.min.js"></script>
<script type="text/javascript" src="/tools/parsleyjs/dist/i18n/es.js"></script>
<script type="text/javascript" src="/public/app/newPassword/js/controller.js"></script>
<script type="text/javascript" src="/public/app/newPassword/js/main.js"></script>
{{/extend}}