<style>
    body {
        background-color: #fdfdfd !important;
    }

    .card-custom-border {
        border-top: 10px indigo solid;
    }

    .font-weight-200 {
        font-weight: 200 !important;
    }

    .img-title {
        height: 6rem;
    }

    .custom-control-label {
        font-weight: 400 !important;
        height: 0 !important;
    }

    @media screen and (max-width: 768px) {
        .custom-checkbox {
            margin-top: 30px;
        }
    }

    .form-group {
        margin-bottom: 0 !important;
    }
</style>
<div class="container">
    <div class="row">
        <div class="offset-2 col-8 mt-6">
            <div class="card card-custom-border text-center">
                <div class="card-header">
                    <h1 class="card-title"> Encuesta ex alumnos Liceo Bicentenario TP Simón Bolívar</h1>
                </div>
                <div class="card-body">
                    <label class="font-weight-400">Esta encuesta ya fue respondida. Muchas gracias.</label>
                </div>
            </div>
        </div>
    </div>
</div>
