<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>..:: SEGUIMIENTO ::..</title>

    <!-- Global stylesheets -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet"
        type="text/css">
    <link href="/public/base/css/icons/icomoon/styles.min.css" rel="stylesheet" type="text/css">
    <link href="/public/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="/public/assets/css/bootstrap_limitless.min.css" rel="stylesheet" type="text/css">
    <link href="/public/assets/css/layout.min.css" rel="stylesheet" type="text/css">
    <link href="/public/assets/css/components.min.css" rel="stylesheet" type="text/css">
    <link href="/public/assets/css/colors.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.12.1/css/all.css"
        integrity="sha384-TxKWSXbsweFt0o2WqfkfJRRNVaPdzXJ/YLqgStggBVRREXkwU7OKz+xXtqOU4u8+" crossorigin="anonymous">
    <!-- /global stylesheets -->

    <script src="/public/assets/js/app.js"></script>
    <!-- /theme JS files -->
    {{{block "css"}}}

</head>

<body>
    <div class="page-content">
        <div class="content-wrapper">
            <br> {{{content}}}
        </div>
    </div>
    <!-- Core JS files -->
    <script type="text/javascript ">
    <!--const globalCredentials = JSON.parse('{{{ parseJson credentials}}}');-->
</script>
    <!-- Core JS files -->
    <script src="/public/base/js/main/jquery.min.js"></script>
    <script type="text/javascript" src="/public/global/js/dayjs/dayjs.js"></script>
    <script type="text/javascript" src="/public/global/js/dayjs/locale.es.js"></script>
    <script src="/public/base/js/main/bootstrap.bundle.min.js"></script>
    <script src="/public/base/js/plugins/loaders/blockui.min.js"></script>
    <!-- /core JS files -->
    <script type="text/javascript" src="/tools/bluebird/js/browser/bluebird.min.js"></script>

    <script type="text/javascript" src="/public/global/assets/dayjs/dayjs.min.js"></script>
    <script type="text/javascript" src="/public/global/assets/dayjs/locale/es.js"></script>
    <script type="text/javascript" src="/public/global/js/sweet-alert/sweetalert.min.js"></script>
    <script type="text/javascript" src="/tools/remarkable-bootstrap-notify/bootstrap-notify.min.js"></script>
    <script type="text/javascript" src="/public/global/js/default.js"></script>
    <!-- /core JS files -->
    {{{block "js"}}}
</body>

</html>