<div class="modal fade" id="{{id}}">
    <div class="modal-dialog {{modalclass}}">
        <div class="modal-content">
            <div class="modal-header bg-info">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title text-center">
                    <i class="fa fa-list-alt" aria-hidden="true"></i> FORMULARIO DE INGRESO
                </h4>
            </div>
            <div class="modal-body">
                <div id="crudForm" class="{{formClass}}" role="form">
                    <div class="row">
                        {{> @partial-block }}
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button id="closeButton" type="button" class="btn btn-default" data-dismiss="modal">CERRAR</button>
                <button id="saveButton" type="button" class="btn btn-success">GUARDAR</button>
                <button id="updateButton" type="button" class="btn btn-warning hidden">EDITAR</button>
            </div>
        </div>
    </div>
</div>
