{{#extend "css"}}
    <!-- <link rel="stylesheet" type="text/css" href="/public/app/logs/view-logs/css/style.css"> -->
{{/extend}}
<div class="modal fade" id="modal-password">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-body">
                <form action="#" class="form-password-module" role="form">
                    <fieldset>
                        <legend class="text-uppercase font-size-sm text-pink-700">
                            MODIFICACIÓN DE CONTRASEÑA
                        </legend>
                        <div class="form-group row">
                            <label class="col-lg-4 col-form-label font-size-sm font-weight-semibold">Contraseña
                                Actual:</label>
                            <div class="col-lg-8">
                                <input id="current-password-module" type="password"
                                       class="form-control form-control-sm form-control-horizontal inputPassModule"
                                       placeholder="Ingrese contraseña actual..." maxlength="20" required="required"
                                       autocomplete="nope">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-lg-4 col-form-label font-size-sm font-weight-semibold">Nueva
                                Contraseña:</label>
                            <div class="col-lg-8">
                                <input id="new-password-module" type="password"
                                       class="form-control form-control-sm form-control-horizontal inputPassModule"
                                       placeholder="Ingrese nueva contraseña..." maxlength="20" required="required"
                                       autocomplete="nope">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-lg-4 col-form-label font-size-sm font-weight-semibold">Repita
                                Contraseña:</label>
                            <div class="col-lg-8">
                                <input id="repeat-password-module" type="password"
                                       class="form-control form-control-sm form-control-horizontal inputPassModule"
                                       placeholder="Repita nueva contraseña..." maxlength="20" required="required"
                                       autocomplete="nope">
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="modal-footer">
                <button id="btnSavePasswordModule" type="button"
                        class="btn btn-outline bg-teal-400 text-teal-400 border-teal btn-sm">Cambiar
                </button>
                <button type="button" class="btn btn-outline bg-pink-700 text-pink-700 border-pink btn-sm"
                        data-dismiss="modal">Cerrar
                </button>
            </div>
        </div>
    </div>
</div>


{{#extend "js"}}
    <script src="/public/app/password-module/js/controllerPasswordModule.js"></script>
    <script src="/public/app/password-module/js/mainPasswordModule.js"></script>
    <script src="/public/app/password-module/js/passwordModule.js"></script>
{{/extend}}
